<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>My First CRM Page</title>
		<link rel="stylesheet" type="text/css" href="/styles.css">
		<style>



			</style>
	</head>
	<body>
		<header>

		</header>

		<%= yield %>

		<nav>
			<a href="https://bitmakerlabs.com/">Bitmaker Labs</a> |
			<a href="http://www.theburgerspriest.com/">The Burger's Priest</a> |
			<a href="http://www.google.ca">Google</a>
		</nav>



		<footer>

		</footer>
	</body>
</html>